
  <div class="container login">

    <div class="row">
        <h1 class="col s12 m12 l12 center-align title">WELCOME BACK</h1>
           <p class="register_message center-align">Sign in to update your story.</p>

        <%= form_tag '/login' do %>

        <div class="col s12 m4 offset-m4 l14 offset-l4 ">
          <div class="field">
          <%= label_tag :email, nil, class: "sign_up" %>
          <%= text_field_tag :email %>
          </div>

          <div class="field">
            <%= label_tag :password, nil, class: "sign_up" %>
            <%= password_field_tag :password %>
          </div>
       <span class="click-color"><%= submit_tag "Login" %></span>

        <% end %>

      </div>
    </div>

</div>
