<div class="container user-visuals">

  <span class="row">
    <h1 class="col s12 m12 l12 center-align title">WELCOME TO       WYNVISUALS!</h1>
  </span>

 <div class="row card-margin">
   <div class="visuals">    <%= link_to 'Upload a New WynVisual', new_user_visual_path(current_user) %>

   </div>
   <% @visuals.each do |visual|  %>

      <div class="col s12 m4 l4">
        <div class="card large">
            <div class="card-image">
            <%= image_tag visual.picture.url%>
            </div>
          <div class="card-content">
            <p class=" card-title visual-owner"> <%= User.find_by(id: visual.user_id).first_name %></p>
            <p class="visual-title"><%= visual.title %></p><br>
            <p class="visual-description"><%= visual.description %></p>
          </div>

          <% if current_user.id == visual.user_id %>
            <p class="visuals">
            <%= link_to 'View all of Your Visuals', visual_path(visual) %>
            </p>
          <% end %>
        </div>
      </div>
    <% end %>

    </div>
</div>
